@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

html,
body,
#root {
	height: 100%;
}

.input-group > .date-field {
	width: 160px;
}

.special-date {
	min-width: 120px;
}

.refresh-button {
	bottom: 0;
	z-index: 1050;
}

.brand-reloaded {
	font-family: 'Caveat', cursive;
	font-size: 1.3em;
	font-weight: 700;
	vertical-align: baseline;
}

.language-select {
	min-width: 150px;
}

.form-label {
	margin-bottom: 0;
	margin-top: 0.5rem;
}

button:not(:disabled).grab-handle {
	cursor: move;
	padding-left: 0;
}

.flex-basis-fit-content {
	flex-basis: fit-content !important;
}
