.App {
  text-align: center;
  height: 100%;
}

.week {
  display: flex;
}

.day {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.week:first-of-type .day:first-of-type {
  margin-left: 42.85714%;
}

.week:last-of-type .day:last-of-type {
  margin-right: 14.285%;
}

/* OTHER STYLES */

html, body {
  height: 100%;
}

body {
  background: linear-gradient(top, #fad961, #f76d1d);
  background-attachment: fixed;
}

.month {
  max-width: 560px;
  margin: 20px auto;
}

.week {
  height: 80px;
}

.day {
  color: #F98909;
  padding: 5px;
  background-color: transparentize(white, 0.30);
  box-shadow: 
    -1px -1px #F9A440, 
    inset -1px -1px 0 0 #F9A440;
}
